<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>I'm in</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- main js -->
    <script src="lib/MapKit.js"></script>
    <script src="lib/ng-cordova/ng-cordova.js"></script>
    <script src="lib/lodash/dist/lodash.min.js"></script>
    <script src="lib/bluebird/js/browser/bluebird.js"></script>
    <script src="lib/angular-google-maps/dist/angular-google-maps.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/app.ctrl.js"></script>
    <script src="js/services.js"></script>

    <!-- app js -->
    <script src="app/tabs/tabs.ctrl.js"></script>
    <script src="app/login/login.ctrl.js"></script>
    <script src="app/events/events.ctrl.js"></script>
    <script src="app/friends/friends.ctrl.js"></script>
    <script src="app/settings/settings.ctrl.js"></script>
    <script src="app/map/map.ctrl.js"></script>
    <script src="app/services/AuthService.js"></script>

</head>
<body ng-app="starter" animation="slide-left-right-ios7" ng-controller="AppCtrl">

<ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left" ng-if="authenticated" ng-cloak>
        <button class="button button-clear button-dark" ng-click="openSettings()">
            <i class="icon ion-ios7-gear"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
    </ion-nav-back-button>
    <ion-nav-buttons side="right" ng-if="authenticated" ng-cloak>
        <button class="button button-clear button-assertive" ng-click="newEvent()">
            <i class="icon ion-ios7-plus-outline"></i>
        </button>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-nav-view></ion-nav-view>
</body>
</html>
