<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear button-assertive" ng-click="closeModal()">
            Cancel
        </button>
        <h1 class="title">Create a new Event</h1>
        <button class="button button-clear button-positive" ng-click="createEvent()">
            Create
        </button>
    </ion-header-bar>
    <ion-content>
        <h2 class="padding">New Event</h2>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
        </div>
    </ion-content>
</ion-modal-view>
